/* src/styles/NewsPage.css */
body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: Arial, sans-serif;
}

.news-container {
  padding: 2rem;
  background-color: #243243;
}

.news-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  color:#fff;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  
}

.news-card {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  background-color: #35404E;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.news-headline {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.news-description {
  font-size: 0.95rem;
  color: #fff;
}

.read-more {
  display: inline-block;
  margin-top: 0.5rem;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.loading {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
}
